In [1]:
import pandas as pd
 
# initialize list of lists
data = [['tom', 10], ['nick', 15], ['juli', 14]]
 
# Create the pandas DataFrame
df = pd.DataFrame(data, columns=['Name', 'Age'])
 
# print dataframe.
print(df)

   Name  Age
0   tom   10
1  nick   15
2  juli   14

In [3]:
df.describe()

             Age
count   3.000000
mean   13.000000
std     2.645751
min    10.000000
25%    12.000000
50%    14.000000
75%    14.500000
max    15.000000

In [4]:
df.dtypes

Name    object
Age      int64
dtype: object

In [5]:
mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
          {'a': 100, 'b': 200, 'c': 300, 'd': 400},
          {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000}]
df = pd.DataFrame(mydict)
df

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

In [6]:
type(df.iloc[0])
df.iloc[0]

a    1
b    2
c    3
d    4
Name: 0, dtype: int64

In [7]:
df.iloc[[0]]

   a  b  c  d
0  1  2  3  4

In [8]:
df.iloc[[0, 1]]

     a    b    c    d
0    1    2    3    4
1  100  200  300  400

In [9]:
df.iloc[:3]

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

In [10]:
df.iloc[[True, False, True]]

      a     b     c     d
0     1     2     3     4
2  1000  2000  3000  4000

In [11]:
df.iloc[lambda x: x.index % 2 == 0]

      a     b     c     d
0     1     2     3     4
2  1000  2000  3000  4000

In [12]:
df.iloc[0, 1]

2

In [13]:
df.iloc[[0, 2], [1, 3]]

      b     d
0     2     4
2  2000  4000

In [14]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
                  index=['cobra', 'viper', 'sidewinder'],
                  columns=['max_speed', 'shield'])
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [15]:
df.loc['viper']

max_speed    4
shield       5
Name: viper, dtype: int64

In [16]:
df.loc[['viper', 'sidewinder']]

            max_speed  shield
viper               4       5
sidewinder          7       8

In [17]:
df.loc['cobra', 'shield']

2

In [18]:
df.loc['cobra':'viper', 'max_speed']

cobra    1
viper    4
Name: max_speed, dtype: int64

In [19]:
df.loc[[False, False, True]]

            max_speed  shield
sidewinder          7       8

In [20]:
df.loc[df['shield'] > 6]

            max_speed  shield
sidewinder          7       8

In [21]:
df.loc[(df['max_speed'] > 1) & (df['shield'] < 8)]

       max_speed  shield
viper          4       5

In [22]:
df.loc[lambda df: df['shield'] == 8]

            max_speed  shield
sidewinder          7       8

In [25]:
df.loc['cobra'] = 10
df

            max_speed  shield
cobra              10      10
viper               4       5
sidewinder          7       8

In [26]:
df.loc[:, 'max_speed'] = 30
df

            max_speed  shield
cobra              30      10
viper              30       5
sidewinder         30       8